body{

  text-align: center;
  background: url("bgm.jpg");

}


form{
  margin-top: 90px;
  display: inline-block;
  width:340px;
  margin: 60px,auto 30px;
  padding: 15px;
  position: relative;
  text-align: center;
  background: #fffaf6;
  border-radius:4px;
  color: #7e7975;
  box-shadow:
    0 2px 2px rgba(0,0,0,0.2),
    0 1px 5px rgba(0,0,0,0.2),
    0 0 0 12px rgba(255,255,255,0.4);
}
